/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');



body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* main section css  */
main{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
}

.container{
    width: 1350px;
    height: 700px;
    background: #161616;
    border-radius: 20px;
    display: flex;
}
.header-info{
    width: 520px;
    height: 450px;
    color: rgb(196, 210, 223);
    margin-left: 106px;
    margin-top: 50px;
    margin-bottom: 50px;

}
.header-info h1 {
    font-size: 50px;
}
.header-info p{
    margin-top: -10px;
}
.header-info .btn{
    width: 160px;
    height: 60px;
    background-color: rgb(223, 109, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.header-info .btn:hover {
    width: 180px;
    /* height: 50px; */
}
.fa-solid {
    margin-left: 10px;
    margin-right: 10px;
}
@keyframes example {
    0%   {margin-left: 10px;margin-right: 10px;}
    25%  {margin-left: 30px;margin-right: 0px;}
    50%  {margin-left: 20px;margin-right: 0px;}
    75%  {margin-left: 30px;margin-right: 0px;}
    100% {margin-left: 10px;margin-right: 10px;}
  }
.header-info .btn:hover .fa-solid{
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.header-img img{
    height: 600px;
    margin-top: 46px;
    margin-left: 35px;
}
/* body section css  */
.body-container{
    width: 1321px;
    display: flex;
    margin: 130px 0;
    column-gap: 24px;
    justify-content: center;
}
.side-menu{
    width: 430px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}

.side-menu-item{
    border: 1px solid rgb(241, 233, 233);
}
.side-menu-item{
    color: #161616;
    /* color: white; */
    width: 170px;
    height: 64px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.side-menu a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    width: 13rem;
}
.active-link{
    background-color: rgb(247, 136, 9);
    color: #548d8d;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* column-gap: 24px; */
    grid-gap: 24px;
}
.blog{
    border-radius: 10px;
    box-shadow: 0px 0px 11px -2px #070202;
}
.blog-img img{
    width: 100%;
}
.blog-info{
    padding: 20px;
}
.blog-btn{
    width: 80px;
    height: 30px;
    border: 2px solid #0c0101;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
.blog-btn:hover{
    background-color: rgb(245, 104, 10);
    color: white;
    transition: 0.2s ease;
    border: 2px solid rgb(252, 115, 3);
}
.blog-other-info{
    display: flex;
}
.blog-comment{
    margin-left: 80px;
}

.article-btn-all{
    height: 70px;
    width: 200px;
    background-color: rgb(250, 119, 11);
    color: #5a4646;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 10px;
    display: none;
}
/* Footer section  */
.footer-container{
    width: 100vw;
    height: 500px;
    background-color: #161616;
    color: #FFFFFF;
    text-align: center;
}
.footer-container h2{
    margin-top: 130px;
    font-size: 40px;
}

.footer-items{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* width: 60rem; */
    margin: 0 auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}
hr{
    width: 80vw;
    color: #B9B9B9;
}
.footer-items a{
    text-decoration: none;
    color: #B9B9B9;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 24px;
    padding: 0 10px;
    padding-top: 30px;
    color: tomato;
}

/* media queries  */

@media only screen and (max-width: 767px) {
    .main{
        width: 100vw;
    }
    .container{
        width: 95%;
        height: 40rem;
        flex-direction: column;
        box-sizing: border-box;
    }
    .header-info {
        width: 90%;
        margin: 1rem;
        margin-right: 1rem;
        text-align: center;
    }
    .header-info h1 {
        font-size: 2rem;
    }
    .header-info p {
        font-size: 1rem;
        margin-top: -0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .btn{
        margin: 0 auto;
        height: 50px;
    }
    .header-img{
        display: flex;
        justify-content: center;
    }
    .header-img img {
        height: 17rem;
        margin-top: -0.2rem;
        margin-left: 0;
    }
    /* body section  */
    .body-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-bottom: 35rem;
      }
    .side-menu {
        width: 100%;
        height: 110px;
        border: 1px solid lightcyan;
        border-radius: 10px;
        background-color:#FFFFFF;
        margin-bottom: 3rem;
    }
    .side-menu-item{
        border: 1px solid grey;  
    }
    .blogs{
        grid-gap: 2%;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        /* margin-bottom: 8rem; */
    }
    .footer-container{
        margin-top: 220px;
    }
    hr{
        width: 85vw;
    }
    .footer-items{
        width: 100vw;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
} 
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .container{
        width: 95%;
        height: 36rem;
    }
    .header-info {
        width: 40%;
        height: 45rem;
        margin-left: 1rem;
        margin-top: 4rem;
        padding-right: 1rem;
    }
    .header-info h1 {
        font-size: 40px;
    }
    .header-info p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .header-img{
        width: 60%;
    }
    .header-img img {
        height: 27rem;
        margin-top: 9rem;
        margin-left: 0;
    }
    /* body section  */
    .body-container{
        flex-direction: column;
        width: 100%;
        height: 130rem;
        align-items: center;
        margin-bottom: 10rem;
    }
    .side-menu {
        width: 100%;
        height: 110px;
        border: 1px solid lightcyan;
        border-radius: 10px;
        background-color:#FFFFFF;
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .side-menu-item:hover{
        background-color: rgb(250, 105, 8);
    }
    .blogs{
        grid-gap: 2%;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;

    }
    .article-btn-all{
        position: relative;
        display: block;
        top: 20em;
        right: 28%;
        display: flex;
    }
    .footer-container{
        margin-top: 220px;
    }
    .footer-items{
        width: 100vw;
        grid-template-columns: repeat(4,1fr);
    }
}
/* Upcoming.html file style  */

.matches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    text-align: center;
}
.match{
    border-radius: 10px;
    box-shadow: 0px 0px 11px -2px #000000;
    width: 312px;
    height: 242px;
    padding: 5rem 0;
}
.match-between{
    display: flex;
    justify-content: center;
}
.matches-img img{
    width: 100%;
}
.match p{
    color: #111010;
}
/* media queries  */
@media only screen and (max-width: 767px) {
    .main{
        width: 100vw;
    }
    .container{
        width: 95%;
        height: 40rem;
        flex-direction: column;
        box-sizing: border-box;
    }
    .header-info {
        width: 90%;
        margin: 1rem;
        margin-right: 1rem;
        text-align: center;
    }
    .header-info h1 {
        font-size: 2rem;
    }
    .header-info p {
        font-size: 1rem;
        margin-top: -0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .btn{
        margin: 0 auto;
        height: 50px;
    }
    .header-img{
        display: flex;
        justify-content: center;
    }
    .header-img img {
        height: 17rem;
        margin-top: -0.2rem;
        margin-left: 0;
    }
    /* body section  */
    .body-container{
        flex-direction: column;
        width: 100%;
        /* height: 100rem; */
        align-items: center;
        /* margin-bottom: 4rem; */
    }
    .side-menu {
        width: 100%;
        height: 110px;
        border: 1px solid rgb(206, 218, 218);
        border-radius: 10px;
        background-color:#FFFFFF;
        margin-bottom: 3rem;
    }
    .side-menu-item{
        border: 1px solid rgb(230, 222, 222); 
        text-align: center; 
    }
    .matches{
        grid-gap: 2%;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        /* margin-bottom: 8rem; */
    }
    .footer-container{
        margin-top: 220px;
    }
    hr{
        width: 85vw;
    }
    .footer-items{
        width: 100vw;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
} 
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .container{
        width: 95%;
        height: 36rem;
    }
    .header-info {
        width: 40%;
        height: 45rem;
        margin-left: 1rem;
        margin-top: 4rem;
        padding-right: 1rem;
    }
    .header-info h1 {
        font-size: 40px;
    }
    .header-info p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .header-img{
        width: 60%;
    }
    .header-img img {
        height: 27rem;
        margin-top: 9rem;
        margin-left: 0;
    }
    /* body section  */
    .body-container{
        flex-direction: column;
        width: 100%;
        align-items: center;
        /* margin-bottom: -2rem; */
    }
    .side-menu {
        width: 100%;
        height: 110px;
        border: 1px solid rgb(37, 216, 216);
        border-radius: 10px;
        background-color:#f1e1e1;
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        align-items: center;
        justify-content: center;
    }
    .side-menu-item{
        border: 1px solid grey; 
        /* text-align: center;  */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .side-menu-item:hover{
        background-color: rgb(238, 47, 13);
    }
    .matches{
        grid-gap: 2%;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }
   
    .footer-items{
        width: 100vw;
        grid-template-columns: repeat(4,1fr);
    }
}